#navbar {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  font-family: 'Occupied';
  font-size: 1.6em;
}

li {
  list-style-type: none;
  display: inline;
  position: relative;
}

ul ul {
  position: absolute;
  display: none;
}

li:hover ul {
  display: block;
}

.dropdown {
  margin: 7px;
  padding: 3px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.dropdown-content {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: none;
  position: absolute;
}

li a {
  text-decoration: none;
  color: rgb(0,0,0);
}
